.hero-flex {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    font-family: var(--font-display);
}

.thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.thank-you > h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.thank-you > a > button {
    width: 15rem;
    margin-bottom: 15rem;
}

@media (max-width: 708px) {
    h1 {
        font-size: 3rem;
    }

    .thank-you > h2 {
        font-size: 2rem;
    }
}

@media (max-width: 488px) {
    h1 {
        font-size: 2.5rem;
    }

    .thank-you > h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 372px) {
    h1 {
        font-size: 2rem;
    }

    .thank-you > h2 {
        font-size: 1rem;
    }
}